html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.footer1 {
    background: #4d4d4d;
    height:100px;
}
.footer2 {
    background: #1c1c1c;
    height: 50px;
    text-align: center;
    color: #e6e6e6;
    padding-top:0.5%;
}
.header_photo {
    width: 100%;
}
.uzor {
    width: 50%;
    display:block;
    margin:auto;
}

