/*ОБОЛОЧКИ*/
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.footer1 {
    background: #4d4d4d;
    height:100px;
}
.footer2 {
    background: #1c1c1c;
    height: 50px;
    text-align: center;
    color: #e6e6e6;
    padding-top:0.5%;
}
/*КОНЕЦ ОБОЛОЧЕК*/
/*HEADER+ЗАГЛАВИЕ*/
.header_photo {
    width: 100%;
}
.uzor {
    width: 50%;
    display:block;
    margin:auto;
}
h1, h3, h2 {
    text-align: center;
}
/*ТАБЛИЦЫ*/
.name:hover {
    background: #1c1c1c;
    color: #e6e6e6;
    cursor:pointer;
}
td {
    height: 70px;
    background: #e8e8e8;
    font-size: 1.6em;
    padding:5px;
    border-bottom: 1px solid #1c1c1c;
    border-left: 1px solid #1c1c1c;
    text-align: center;
}
.th {
    height: 70px;
    background: #1c1c1c;
    font-size: 1.6em;
    color: #e6e6e6;
    text-align: center;
}
table {
    border: 1px solid #1c1c1c;
    margin-bottom:20px;
}
.td_la {
    border: 10px solid white;
}
.td_la:hover {
    background: #1c1c1c;
    color: #e6e6e6;
    cursor:pointer;
}
.col-md-6 {
    margin-left: 25%;
}
.table_aut_b {
    width: 100%;
}
/*КОНЕЦ ТАБЛИЦ*/
.book_info {
    background-color: #e8e8e8;
    padding: 2%;
    font-size: 1.3em;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
}
/*ФОРМА ОТЗЫВОВ*/
.btn_rev {
    color:#1c1c1c;
    padding: 10px 20px;
    text-align:center;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#1c1c1c 50%,#1c1c1c);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid #1c1c1c;
    float: right;
}
.btn_rev:hover {
    background-position: 0 0;
    color:#fff;
}
.dop_div {
    margin-top:60px;
}
#rating_error, #name_error, #message_error, #msg_error {
    color: red;
}
#end_info {
    text-align: center;
    color: green;
    font-size: 1.4em;
}
/*ВЫВОД ОТЗЫВОВ*/
.review {
    margin-bottom: 20px;
    padding: 2%;
    font-size: 1.3em;
    border:1px solid #1c1c1c;
}
.line {
    border: 1px solid #1c1c1c;
    width: 30%;
    margin-top:10px;
    margin-bottom: 15px;
}
#pages {
    text-align: center;
}
/*ГЛАВНАЯ СТРАНИЦА*/
.left_content {
    width: 45%;
    margin-right: 10%;
    float: left;
}
.right_content {
    float: left;
    width: 45%;
}
.center_content {
    margin-top:300px;
}
.last_reviews {
    border: 1px solid black;
    background: #E8E8E8;
}
.main_review {
    margin: 30px 50px;
    padding: 2%;
    font-size: 1.3em;
    border:1px solid #1c1c1c;
    background: white;
}
/*СПИСКИ*/
.square {
    margin: 0;
    counter-reset: li;
    list-style: none;
    background:#E8E8E8;
    padding: 10px;
}
.square li {
    position: relative;
    margin: 0 0 10px 2em;
    padding: 4px 8px;
    border-top: 2px solid #787A77;
    transition: .3s linear;
}
.square li:last-child {margin-bottom: 0;}
.square li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    box-sizing: border-box;
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #787A77;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background: #787A77;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: .3s linear;
}
.square li:hover {border-top: 2px solid #389F70; cursor: pointer}
.square li:hover:before {
    border: 2px solid #389F70;
    background: #98EABA;
}
/*ФИЛЬТРАЦИЯ*/
.sortirovka {
    text-align: center;
    margin: 30px 0px;
}
.philtr {
    font-size: 1.3em;
    font-weight: 700;
}
.btn_philtr {
    background-color: white;
    border: 1px solid black;
    border-radius: 17px;
    color: black;
}
.btn_philtr:hover {
    background-color: #1c1c1c;
    color: #e6e6e6;
    transition: ease 0.6s;
}
/* Базовый контейнер табов */
.tabs {
    min-width: 320px;
    max-width: 800px;
    padding: 0px;
    margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}
.tabs>section>p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
}

/* Прячем чекбоксы */
.tabs>input {
    display: none;
    position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 0px solid #ddd;
    border-width: 1px 1px 1px 1px;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}
/* Изменения стиля переключателей вкладок при наведении */
.tabs>label:hover {
    color: #888;
    cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
    color: #555;
    border-top: 1px solid black;
    border-bottom: 1px solid #fff;
    background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2 {
    display: block;
}
/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/
@media screen and (max-width: 680px) {
    .tabs>label {
        font-size: 0;
    }
    .tabs>label:before {
        margin: 0;
        font-size: 18px;
    }
}
/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
    .tabs>label {
        padding: 15px;
    }
}

